html{
    background-color:white;
background-image: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 50%),
linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%);
background-size:50px 50px;
    margin: auto;
}

body{
    background-color: white;

}
h1{
    text-align: center;
}
.card-group{
    display: flex;
    margin: auto;

}

img{
    height: 300px;
    width: 300px;
    padding: 2px;
}